.offering{
    background-color: #ffe550;
  
  }
  .offering-flex{
    
    display: flex;
    align-items: center;
    padding-top: 113px;
    padding-left: 16px;
    padding-bottom: 124px;
  }
  .container-apple {
    width: 502px;
    height: 502px;
    border-radius: 502px;
    background-color: #fefefe;
    position: absolute;
    left: 24px;
    bottom: 24px;
  }
  .container-apple-one {
    width: 550px;
    height: 550px;
    border-radius: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: relative;
  }
  .apple-shadow {
    width: 252px;
    height: 87px;
    background-image: radial-gradient(50% 50% at 50% 50%, #2f583f 0%, rgba(105, 105, 105, 0) 100%);
    filter: blur(13px);
    position: absolute;
    top: 364px;
    right: 131px;
  }
  .img-apple {
    position: absolute;
    left: 60px;
    bottom: 78px;
    z-index: 1;
  }
  .offering-special {
    padding-left: 90px;
    max-width: 573px;
    height: 413px;
  }
  .offering-title {
    width: 526px;
    height: 100px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
  }
  .offering-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
  }
  .offering-item {
    display: flex;
    gap: 67px;
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .offering-item-list {
    width: 48px;
    height: 48px;
    background-color: #fefefe;
    border-radius: 50px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .offering-icon {
    fill: #7eb101;
  }
  .offerinf-title-special {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 16px;
  }
  .offering-text-two {
    font-size: 14px;
    line-height: 1.5;
    width: 253px;
  }
  .offering-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: inline-flex;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #7eb101;
    background-color: #fff;
    margin-bottom: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .offering-btn:hover,
  .offering-btn:focus {
    background-color: #bbf330;
        border: none;}