/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #2c2c2c;
  background: #fefefe;

}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #bbf330;
  text-decoration: underline;
}

.nav-button {
  font-family: Roboto;
  background: #bbf330;
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  margin-left: 30px;
}

.nav-button:hover,
.nav-button:focus,
.nav-button:active {
  background: #ffe450;
}
/* Favorites  Section 3  */
.favorites {
  background: #fefefe;
  padding: 100px 16px;
}
.container-favorites {
  width: 1280px;
  margin: 0 auto;
}
.favorites-title {
  color: #2c2c2c;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  width: 656px;
  margin: 0 auto 20px;
}
.favorites-text {
  color: #2c2c2c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 656px;
  margin: 0 auto 40px;
}
.favorites-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.list-item:hover .favorites-image {
  border: 16px solid #bbf330;
}

.favorites-image {
  padding: 41px 40px;
  border-radius: 197.5px;
  border: 16px solid #ffe550;
  background: #fefefe;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorites-image-midle {
  padding-left: 39px;
  border-radius: 197px;
}

/* style section customers */

.customers {

  background-color: #ffe450;
  padding-top: 140px;
  padding-bottom: 126px;
}
.title {

  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.subscribe {

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}


.rating {
  display: flex;
  margin-bottom: 29px;
}

.coment {
  display: flex;
  justify-content: space-between;
}
.coment-item {
  background-color: #fefefe;

  padding: 14px;
  width: calc((100% - 140px) / 2);
  border-radius: 30px;
  border-top-left-radius: 0;}

.coment-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 41px;
}

.person {
  display: flex;
  align-items: center;
}
.person::after {
  content: '';
  width: 1px;
  height: 52px;
  background-color: #7eb101;
}

.person-name {
  padding-left: 16px;
  padding-right: 16px;
}

.foto {
  width: 48px;
  height: 48px;
}

.name {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  line-height: 150%; /* 21px */
}

.personcoment {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  line-height: 150%; /* 21px */
}

/* section subscribe  */

.title-subscribe {
  color: #2c2c2c;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  /* 50.4px */
}
.paragraph-subscribe {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}
.button-subscribe {
  color: #2c2c2c;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  /* 19.5px */
}


/*----- FOOTER -----*/

.footer {
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.footer-fon {
  background-image: url(../images/footer/pngwing06T014933.png), url(../images/footer/04T233459.png),
    url(../images/footer/05T002112-1-min.png), url(../images/footer/05T002112-min.png),
    url(../images/footer/06T014933-min.png), url(../images/footer/06T014344-min.png),
    url(../images/footer/06T014933-1-min.png), url(../images/footer/06T014458-min.png);
  background-repeat: no-repeat;
  background-position: left 340px top 132px, bottom 0 center, bottom -60px left 280px, bottom 0 right 16px,
    bottom 0 right 124px, bottom 0 right 262px, bottom 0 left 216px, bottom -40px left 52px;
  background-size: 526px 266px, 420px 126px, 152px 180px, 180px 72px, 182px 154px, 234px 86px,
    178px 98px, 196px 106px;
}

.footer-nav {
  padding: 100px 16px 129px 21px;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  margin-right: 143px;
}

.footer-menu-list {
  display: flex;
  gap: 28px;
  padding-top: 18px;
}

.footer-menu-link {
  font-size: 14px;
  font-weight: 400;
}
.section-subscribe {
  padding-top: 222px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-form {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.footer-form-input {
  color: #505050;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  display: inline-flex;
  height: 42px;
  width: 280px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 0.854px solid #FFE550;
  background: #FEFEFE;
  margin-right: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
}

.footer-form-subscribe {
  border-radius: 30px;
  border: 0.854px solid #7EB101;
  background: #FFF;
}

.footer-form-subscribe span {
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  display: inline-flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
}

.title-policy {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.title-policy-color {
  color: #7EB101;
  text-decoration-line: underline;
}

.policy-container {
  display: flex;
  padding: 0 16px 100px 16px;
  justify-content: space-between;
  align-items: center;
}

.policy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.policy-list-link {
  color: #7EB101;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-bottom-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

